# PART 1

# Transforming the data in the table from Wikipedia page into  pandas dataframe

In [4]:
import pandas as pd
import urllib.request #import the library used to query a website

#specify the url
wiki = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

#Query the website and return the html to the variable 'page'
page=urllib.request.urlopen(wiki)

#import the Beautiful soup functions to parse the data returned from the website
from bs4 import BeautifulSoup

#Parse the html in the 'page' variable, and store it in Beautiful Soup format
soup = BeautifulSoup(page)

all_tables=soup.find_all('table')

#Now selecting proper class
right_table=soup.find('table', class_='wikitable sortable')

#Generate lists

A=[]
B=[]
C=[]

for row in right_table.findAll("tr"):
    cells = row.findAll('td')
    states=row.findAll('th') #To store second column data
    if len(cells)==3: #Only extract table body not heading
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
       

    
df=pd.DataFrame(A,columns=['Postalcode'])
df['Borough']=B
df['Neighourhood']=C

#Dropping rows where Borough equals to 'Not assigned'
df.drop(df[df['Borough']=='Not assigned'].index,inplace=True)

df['Postalcode'].value_counts()

df_new =df.groupby(by='Postalcode' ,as_index=False).agg({'Borough':lambda x: list(pd.unique(x)),'Neighourhood':lambda x: list(x)})
df_new.head()

  Postalcode        Borough                              Neighourhood
0        M1B  [Scarborough]                          [Rouge, Malvern]
1        M1C  [Scarborough]  [Highland Creek, Rouge Hill, Port Union]
2        M1E  [Scarborough]      [Guildwood
, Morningside, West Hill]
3        M1G  [Scarborough]                                  [Woburn]
4        M1H  [Scarborough]                              [Cedarbrae
]

# Number of Rows

In [5]:
df_new.shape

(103, 3)